@model IEnumerable<Practice1.Subscription>

@{
    ViewData["Title"] = "Абонементы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Абонементы</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingsRest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TariffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingsRest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tariff.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Fio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Измениить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
